@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
    height: 100vh; /* Ensure body takes full viewport height */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #b0c4de; /* Bluish tint outside the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 375px; /* Increased container width */
    width: 100%; /* Ensure the container uses full available width */
    padding: 20px;
    background: #f0f8ff; /* Light blue background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #1e90ff; /* DodgerBlue text color */
}

header p {
    font-size: 14px;
    color: #4682b4; /* SteelBlue text color */
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #1e90ff; /* DodgerBlue text color */
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #87ceeb; /* SkyBlue border color */
    font-size: 16px;
    background-color: #e6f2ff; /* Very light blue background */
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #87ceeb; /* SkyBlue border color */
    font-size: 16px;
    background-color: #e6f2ff; /* Very light blue background */
}

.switch-field {
    display: flex;
    justify-content: space-between;
}

.switch-field label {
    background-color: #87cefa; /* LightSkyBlue background */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.switch-field input:checked + label {
    background-color: #1e90ff; /* DodgerBlue background when selected */
    color: #fff;
}

.submit {
    width: 100%;
    padding: 10px;
	margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff; /* DodgerBlue background */
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #4682b4; /* SteelBlue background on hover */
}

/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.6); /* Darker overlay for better contrast */
}

/* Modal Content */
.modal-content {
    background-color: #f0f8ff; /* Light blue background */
    margin: 10% auto; /* Centered with 10% from top */
    padding: 20px;
    border: 1px solid #1e90ff; /* DodgerBlue border */
    border-radius: 10px; /* Rounded corners */
    width: 30%; /* Responsive width */
    max-width: 500px; /* Maximum width */
    color: #1e90ff; /* DodgerBlue text color */
}

/* Close Button */
.close {
    color: #1e90ff; /* DodgerBlue close button */
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #4682b4; /* SteelBlue close button on hover */
    text-decoration: none;
}

/* Modal Text */
#modalText {
	margin-left: 15px;
    font-size: 20px;
	font-weight: bold;
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
